$footer-bg-color: #202020;
$footer-title-color: white;
$footer-text-color: white;
$acknowledgement-bg-color: #202020;
$acknowledgement-text-color: #999;

.footer {
  grid-area: footer;
  position: relative;

  a {
    color: $footer-title-color;
  }

  background-color: $footer-bg-color;
  color: $footer-text-color;
  flex-direction: column;
  display: flex;
}

.above-acknowledgement {
  padding-inline: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  > .main-content {
    display: flex;
    justify-content: space-between;
    align-items: end;

    > img {
      padding-bottom: 0.5rem;
      height: 7rem;
      filter: invert(0.6);
    }
  }
}

@media screen and (max-width: 768px) {
  .above-acknowledgement {
    padding-inline: 0;

    > .main-content {
      flex-direction: column;
      align-items: center;

      > img {
        margin-block: 2.5rem;
        height: 4rem;
      }
    }
  }
}

.contact {
  font-weight: lighter;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .divider {
    height: 0.1rem;
    background-color: $footer-title-color;
    width: 5rem;
    margin-bottom: 1rem;
  }
}

.copyright {
  width: 100%;

  .divider {
    margin-block: 0.6rem;
    height: 0.1rem;
    background-color: $footer-title-color;
  }

  color: $footer-title-color;
}

.acknowledgement {
  color: $acknowledgement-text-color;
  background-color: $acknowledgement-bg-color;
  padding-inline: 2rem;
  padding-block: 0.4rem;
  font-style: italic;
}
