@use "../../styles/variables.scss" as gv;
$footer-bg-color: #202020;
$footer-title-color: white;
$footer-text-color: white;
$acknowledgement-bg-color: #202020;
$acknowledgement-text-color: #999;

.footer {
  grid-area: footer;
  position: relative;

  a {
    color: $footer-title-color;
  }

  background-color: $footer-bg-color;
  color: $footer-text-color;
  flex-direction: column;
  display: flex;
}

.footer-body {
  padding-inline: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;

  > .main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 8rem;

    > img {
      padding-bottom: 0.5rem;
      height: 7rem;
      filter: invert(0.6);
    }
  }
}

.contact-and-follow {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 8rem;
}

.social-media-icon {
  margin-right: 1rem;

  > img {
    height: 2rem;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.04);
    }
  }
}

.text-with-icon {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  > img {
    height: 1.5rem;
    filter: invert(1);
  }

  > p {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

.footer-section {
  font-weight: lighter;

  h2 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }

  .divider {
    height: 1px;
    background-color: $footer-title-color;
    width: 5rem;
    margin-bottom: 1rem;
  }
}

.copyright {
  width: 100%;

  > p {
    text-align: right;
    font-weight: 100;
    padding-block: 1rem;
    color: white;
    margin-inline: gv.$default-padding-inline-small;
  }
}

.acknowledgement {
  font-size: 1rem;
  font-weight: 300;
  background-color: grey;
  padding-block: 0.5rem;
  padding-inline: gv.$default-padding-inline-small;
}

@media screen and (max-width: 850px) {
  .footer-body {
    padding: 0;
    padding-top: 4rem;

    > .main-content {
      flex-direction: column;
      align-items: center;
      gap: 4rem;

      > img {
        margin-block: 2rem;
        height: 4rem;
      }
    }
  }

  .copyright > p {
    text-align: center;
  }

  .contact-and-follow {
    width: 100%;
    justify-content: space-evenly;
    gap: unset;
  }
}

@media screen and (max-width: 480px) {
  .copyright > p {
    text-align: left;
  }

  .contact-and-follow {
    width: max-content;
    margin-inline: auto;
    flex-direction: column;
    gap: 4rem;
  }
}
