@use "../../styles/variables.scss" as gv;

.main {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: gv.$primary-color;
}

.background-banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100vh;
  max-height: 80rem;
  background-color: gv.$primary-color;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: calc(gv.$readable-content-max-width * 1.3);
  width: 70%;
  margin-inline: 2rem;
  margin-top: 2rem;

  > h1:first-child {
    max-width: 90%;
    margin: 0 auto;
    font-size: calc(4rem * var(--100-to-70));
    margin-bottom: calc(3.6rem * var(--100-to-80));
    margin-top: calc(3.5rem * var(--100-to-50));
    text-align: center;
    color: white;
  }

  > img {
    display: block;
    width: 100%;
    height: calc(30rem * var(--100-to-70));
    object-fit: cover;
  }
}

.embedded-title {
  padding-block: calc(1.3rem * var(--100-to-70));
  padding-inline: calc(2.8rem * var(--100-to-60));
  font-size: calc(2.5rem * var(--100-to-80));
  color: white;
  max-width: 100%;
}

.white-background {
  flex-grow: 1;
  background-color: white;
  padding: calc(2.5rem * var(--100-to-70)) calc(2.8rem * var(--100-to-60));
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: gv.$default-below-page-space;
}

.main.medium {
  .content {
    > img {
      height: calc(20rem * var(--100-to-90));
    }
  }
}

@media screen and (max-width: 1500px) {
  .content {
    width: 80%;
  }
}

@media screen and (max-width: 1280px) {
  .content {
    margin: 0;
    width: 100%;
  }
}
