// COLORS
$primary-color: #004b8d;
$secondary-color: #e4a024;
$tertiary-color: #f37021;
$quaternary-color: #ccdbe8;

// LAYOUT
$navigation-menu-width: 17rem;
$readable-content-max-width: 60rem;
$content-max-width: 80rem;
$default-padding-inline-large: calc(4rem * var(--100-to-50));
$default-padding-inline-small: calc(2rem * var(--100-to-60));
$default-below-page-space: 8rem;
