@use "../styles/variables.scss" as gv;

$themebox-light: rgb(255, 246, 232);
$themebox: gv.$secondary-color;
$themebox-dark: black;

.output-list {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.year-block {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-top: 0.5rem solid;
  padding: calc(1.2rem * var(--100-to-50)) calc(3rem * var(--100-to-50))
    calc(1rem * var(--100-to-50));
  background-color: $themebox-light;
  border-color: $themebox;
  color: $themebox-dark;
  li {
    color: $themebox-dark;
  }
  hr {
    border-color: $themebox-dark;
  }
  h3 {
    font-size: gv.$title4-font-size;
    color: #935f05;
  }
  ul {
    font-size: gv.$text2-font-size;
    li {
      padding: calc(0.5rem * var(--100-to-80)) 0rem;
      margin-left: -1rem;
    }
  }
  hr {
    border-width: 0.06rem;
    border-color: #935f05;
  }
}
