@use "../styles/variables.scss" as gv;
/*
$themebox-green-light: #F5FBE2;
$themebox-green: #92AF2B;
$themebox-green-dark: #5E6738;

$themebox-blue-light: #EBF6FF;
$themebox-blue: #038FE8;
$themebox-blue-dark: #004B8D;

$themebox-red-light: #FFEDE2;
$themebox-red: #F37021;
$themebox-red-dark: #B42217;
*/

$themebox-green-light: rgb(255, 246, 232);
$themebox-green: gv.$secondary-color;
$themebox-green-dark: black;

$themebox-blue-light: #EBF6FF;
$themebox-blue: #038FE8;
$themebox-blue-dark: #004B8D;

$themebox-red-light: #EBF6FF;
$themebox-red: #038FE8;
$themebox-red-dark: #004B8D;

.backgroundBanner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100vh;
    background-color: gv.$primary-color;
  }
  

.content{
    background-color: white;
    h1{
        font-size: 2.8rem;
        padding-bottom: 2rem;
        padding-top: 0rem;
    }
}

.output-list{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.year-block{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-top: 0.5rem solid;
    padding: calc(1.2rem * var(--100-to-50)) calc(3rem * var(--100-to-50)) calc(1rem * var(--100-to-50));
    h2{
        font-size: calc(2rem * var(--100-to-80));
        color: #935f05;
    }
    ul{
        font-size: calc(1rem * var(--100-to-80));
        li{
            padding: calc(0.5rem * var(--100-to-80)) 0rem;
            margin-left: -1rem;
        }
    }
    hr{
        border-width: 0.06rem;
        border-color: #935f05;
    }
}

.themed-container-1{
    background-color: $themebox-green-light;
    border-color: $themebox-green;
    color: $themebox-green-dark;
    li{
        color: $themebox-green-dark;
    }
    hr{
        border-color: $themebox-green-dark;
    }
}

.themed-container-2{
    background-color: $themebox-green-light;
    border-color: $themebox-green;
    color: $themebox-green-dark;
    li{
        color: $themebox-green-dark;
    }
    hr{
        border-color: $themebox-green-dark;
    }
}

.themed-container-3{
    background-color: $themebox-green-light;
    border-color: $themebox-green;
    color: $themebox-green-dark;
    li{
        color: $themebox-green-dark;
    }
    hr{
        border-color: $themebox-green-dark;
    }
}