@use "../styles/variables.scss" as gv;

$themebox-green-light: #F5FBE2;
$themebox-green: #92AF2B;
$themebox-green-dark: #5E6738;

$themebox-blue-light: #EBF6FF;
$themebox-blue: #038FE8;
$themebox-blue-dark: #004B8D;

$themebox-red-light: #FFEDE2;
$themebox-red: #F37021;
$themebox-red-dark: #B42217;

.backgroundBanner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 25vh;
    background-color: #efefef
  }
  
.layout {
    max-width: gv.$readable-content-max-width;
    width: 80%;
    padding: 2% 10%;
    img{
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }
    h1{
        font-size: 2.5rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
        text-decoration: underline;
        text-decoration-color: gv.$secondary-color;
        text-decoration-style: solid;
    }
}

.output-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.year-block{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    border-top: 0.5rem solid;
    padding: 1.2rem 3rem 1rem;
    h2{
        font-size: 2rem;
    }
    ul{
        font-size: 1rem;
        li{
            padding: 0.5rem 0rem;
            margin-left: -1rem;
        }
    }
    hr{
        border-width: 0.06rem;
    }
}

.themed-container-1{
    background-color: $themebox-green-light;
    border-color: $themebox-green;
    color: $themebox-green-dark;
    li{
        color: $themebox-green-dark;
    }
    hr{
        border-color: $themebox-green-dark;
    }
}

.themed-container-2{
    background-color: $themebox-blue-light;
    border-color: $themebox-blue;
    color: $themebox-blue-dark;
    li{
        color: $themebox-blue-dark;
    }
    hr{
        border-color: $themebox-blue-dark;
    }
}

.themed-container-3{
    background-color: $themebox-red-light;
    border-color: $themebox-red;
    color: $themebox-red-dark;
    li{
        color: $themebox-red-dark;
    }
    hr{
        border-color: $themebox-red-dark;
    }
}