$themebox-green-light: #F5FBE2;
$themebox-green: #92AF2B;
$themebox-green-dark: #5E6738;

$themebox-blue-light: #EBF6FF;
$themebox-blue: #038FE8;
$themebox-blue-dark: #004B8D;

$themebox-red-light: #FFEDE2;
$themebox-red: #F37021;
$themebox-red-dark: #B42217;

.year-block{
    h2{
        font-size: 128px;
    }
    ul{
        font-size: 36px;
    }
}