@use "../styles/variables.scss" as gv;

.content{
    margin-bottom: 2rem;
    h1{
        width: 100%;
        background-color: gv.$primary-color;
        color: white;
        padding: auto;
        text-align: center;
        padding: 4rem 0rem;
        font-size: 3rem;
    }

    h2{
        margin: 2rem;
        padding: 1rem;
        text-transform: uppercase;
        background-color: gv.$secondary-color;
        font-weight: 600;
        font-size: 1rem;
    }
    
    .list{
        display: flex;
        flex-direction: column;
    }
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creates three columns */
    grid-auto-rows: minmax(100px, auto); /* minimum height of each row but can grow */
    grid-gap: 1rem; /* space between cards */
    grid-auto-flow: dense; /* this is crucial for masonry-style layout */
    padding: 20px;
}

.title{
    margin-left: 10%;
}