.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr auto;
  transition: grid-template-columns 0.5s;
}

.main {
  grid-area: main;
  position: relative;
}

@media screen and (max-width: 1280px) {
  .app {
    grid-template-areas:
      "nav header"
      "nav main"
      "nav footer";
    grid-template-columns: 0px 100%;
  }

  .app.nav-open {
    grid-template-columns: 260px 100%;
  }
}
