@use "../../styles/variables.scss" as gv;

.courses-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.course-link {
  color: black;
}

.courses-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}

.course {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eee;
}
