@use "../styles/variables.scss" as gv;

.profile-card {
  padding: 1.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  border: 0.05rem solid;
  border-color: gv.$quaternary-color;
  // width: 20rem;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 4px gray;
  h3 {
    padding-top: 0.6rem;
    font-size: gv.$title5-font-size;
    font-weight: 600;
  }

  .attribute {
    font-size: gv.$text2-font-size;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0.5rem 0.4rem;
  }
  .title {
    font-size: 0.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    color: gv.$primary-color;
  }
  .profile-frame {
    margin-bottom: 1rem;
    width: 7rem;
    height: 7rem;
    border: 0.15rem solid;
    border-radius: 50%;
    border-color: gv.$secondary-color;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      border-radius: 50%;
      width: 88%;
      height: 88%;
      object-fit: cover;
      overflow: hidden;
    }
  }
  .subset {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  hr {
    border: 0.05rem solid;
    border-color: gv.$quaternary-color;
  }
}

// @media screen and (max-width: 750px) {
//   .profile-card {
//     // margin: 0.5rem;
//     // width: 10rem;
//     .subset {
//       display: none;
//     }
//     h3 {
//       padding-top: 0.3rem;
//       font-size: 1rem;
//       font-weight: 600;
//     }
//     .title {
//       font-size: 0.5rem;
//       text-transform: uppercase;
//       font-weight: 500;
//       color: gv.$primary-color;
//     }
//     .profile-frame {
//       margin-bottom: 0.5rem;
//       width: 5rem;
//       height: 5rem;
//     }
//   }
// }
