@use "../styles/variables.scss" as gv;

.profile-card{
    padding: 1.5rem 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    border: 0.05rem solid;
    border-color: gv.$quaternary-color;
    margin: 1rem;
    width: 20rem;
    box-shadow: 1px 1px 4px gray;
    h3{
        padding-top: 0.6rem;
        font-size: 1.5rem;
        font-weight: 600;
    }

    .attribute {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0.5rem 0.4rem;
    }
    .title{
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 500;
        color: gv.$primary-color;
    }
    .profile-frame{
        margin-bottom: 1rem;
        width: 7rem;
        height: 7rem;
        border: 0.15rem solid;
        border-radius: 50%;
        border-color: gv.$secondary-color;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
            img{
                border-radius: 50%;
                width: 88%;
                height: 88%;
                object-fit: cover;
                overflow: hidden;
            }
    }
    .subset{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    hr{
        border: 0.05rem solid;
        border-color: gv.$quaternary-color;
    }
}