@use "../../styles/variables.scss" as gv;

.grants-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 1rem;
}

.grant > a {
  color: black;
  font-size: gv.$text1-font-size;
}
