@use "../../styles/variables.scss" as gv;

.header {
  grid-area: nav;
  width: gv.$navigation-menu-width;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  > .massey-logo-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;

    > img {
      max-width: 80%;
      height: 7.6rem;
      object-fit: contain;
    }
  }

  > h2 {
    display: none;
    padding-block: 0.8rem;
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.8rem;
  }

  > nav {
    width: 100%;
  }
}

.links {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;

  a:only-child {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 1280px) {
  .header {
    position: absolute;
    left: calc(gv.$navigation-menu-width * -1);
    transition: left 0.5s;

    > .massey-logo-link {
      display: none;
    }

    > h2 {
      display: initial;
    }
  }

  .header.hamburger-menu-visible {
    left: 0px;
  }
}

// LINK COMPONENT
.link > a:only-child {
  display: flex;
  align-items: center;
  height: 3.8rem;
  font-size: 1.3rem;
  font-weight: 400;

  &:hover {
    background-color: #f0f0f0;
  }

  > .color-indicator {
    width: 0.6rem;
    height: 100%;
    background-color: gv.$primary-color;
    margin-right: 2rem;
  }

  &.active-link {
    font-weight: 900;
  }
}
