@use "../../styles/variables.scss" as gv;

.nav {
  grid-area: nav;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  > .massey-logo-link {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;

    > img {
      width: 80%;
      object-fit: cover;
    }
  }

  > ul {
    width: 100%;
  }

  > h2 {
    display: none;
    padding-block: 0.8rem;
    font-size: 1.3rem;
    width: 260px;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 0.8rem;
  }
}

.links {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;

  a:only-child {
    text-decoration: none;
    color: black;
  }
}

@media (max-width: 1280px) {
  .nav {
    position: absolute;
    left: -260px;
    transition: left 0.5s;

    > .massey-logo-link {
      display: none;
    }

    > h2 {
      display: initial;
    }
  }

  .nav.hamburger-menu-visible {
    left: 0px;
  }
}

// LINK COMPONENT
.link > a:only-child {
  display: flex;
  align-items: center;
  height: 3.8rem;

  &:hover {
    background-color: #f0f0f0;
  }

  .color-indicator {
    width: 0.6rem;
    height: 100%;
    background-color: gv.$primary-color;
    margin-right: 2rem;
  }

  > h3 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  > h3.active-link {
    font-weight: 900;
  }
}
