@use "../../styles/variables.scss" as gv;

.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  --margin-inline: calc(2rem * var(--100-to-60));
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  place-content: center;
  gap: 3rem;
  width: calc(100% - var(--margin-inline) * 2);
  max-width: gv.$content-max-width;
  margin-inline: auto;
  list-style: none;
  padding-left: 0;
}
